# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://sdvlaeulvohfpfqaypiw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkdmxhZXVsdm9oZnBmcWF5cGl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MTM1NDMsImV4cCI6MjA5NTM4OTU0M30.RxS3r5h2DDoagZM197QxGfR0nAZPqk3X8Z9KOrH75vA

# API Football (api-sports.io)
API_FOOTBALL_KEY=bd704e5dc0a7a8b3d3a7465b4b3908d3

# Admin credentials (para crear en Supabase Auth)
ADMIN_EMAIL=admin@quiniela2026.com
ADMIN_PASSWORD=Admin2026!

# Cron secret (genera uno aleatorio, ej: openssl rand -hex 32)
CRON_SECRET=cambia_esto_por_un_secreto_aleatorio

# Anthropic (para trivia IA)
GEMINI_API_KEY=AQ.Ab8RN6KMlhFCGLOu8aZZLP3xXfHxaA_OhL3-2Gc6K5umA2WdGA
